<!DOCTYPE html>
<html lang="uk">
<head>
    <%- include('../partials/head') %>
</head>
<body class="app-map">

<header>
    <%- include('../partials/header') %>
</header>

<div id="map"></div>
<div id="menu">
    <input id="route-search" type="search" placeholder="Пошук маршруту..." autocomplete="off"/>
    <div id="route_stops">
        <% routes.forEach(function (route) { %>
        <div class="route-row" title="<%= route['Name'] %>" data-name="<%= route['Name'] %>" data-code="<%= route['Code'] %>">
            <input type="checkbox" value="<%= route['Code'] %>" id="route<%= route['Id'] %>"
                   name="route<%= route['Id'] %>"/>
            <label class="label-desktop" for="route<%= route['Id'] %>"><span class="check"></span><span class="route-num"><%= route['SmallName'] %></span><span class="route-name"><%= route['Name'] %></span></label>
            <label class="label-mobile" for="route<%= route['Id'] %>"><span class="check"></span><span class="route-num"><%= route['SmallName'] %></span></label>
        </div>
        <% }); %>
    </div>
</div>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>
