<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include('../partials/header') %>

</header>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand clear-marker" href="#"><%= title %></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div id="map"></div>
<div id="menu">
    <div id="route_stops">
        <% for (var i = 0; i < stops.length; i++) { var stop = stops[i]; %>
        <div title="<%= stop['Name'] %>">
            <input type="checkbox" value="<%= stop['Code'] %>" id="route<%= stop['Id'] %>"
                   name="route<%= stop['Id'] %>"/>
            <label class="label-desktop" for="route<%= stop['Id'] %>"><span></span> <%= stop['Name'] %></label>
            <label class="label-mobile" for="route<%= stop['Id'] %>"><span></span><%= stop['SmallName'] %></label>
        </div>
        <% } %>
    </div>
</div>


<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>